body{
	background-color: #AFAFAF;

}

#samiul-name{
	font-size: 15vw;
	float: right;
	font-family: 'Montserrat', sans-serif;
}

#anwar-name{
	font-size: 15vw;
	float: right;
	font-family: 'Montserrat', sans-serif;
}

.bar{
	background-color: #333333;
}

.nav-row{
	text-align: center;
}

.nav-buttons{
	background-color:  #AFAFAF;
	font-size: 40px;
	border: none;
	font-family: 'Montserrat', sans-serif;
}

#about{
	font-size: 15vw;
	font-family: 'Montserrat', sans-serif;
}

.pic{
	background-color: black;
	width: 300px;
	height: 300px;
    margin: 0 auto; 
}

.sammy{
	border-width: 10px;
    border-style: solid;
    border-color:#333333;
}

.about-content{
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

.bracket{
	font-size: 60px;
}

#portfolio{
	font-size: 15vw;
	font-family: 'Montserrat', sans-serif;
}

.thumbnail-frame{
	background-color: black;
	opacity: .8;
}

.thumbnail{
	height: 200px;
	width: 200px;
	background-color: green;
}

.kitty{
	border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    border-color: #AFAFAF;
}

#contact{
	font-size: 15vw;
	font-family: 'Montserrat', sans-serif;
}

.contact-message{
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
}

.btn-secondary{
	background-color: #AFAFAF;
}

a:link{
	color: #333333;
}

a:hover{
	color: black;
}

a:active{
	color: black;
}

a:visited{
	color: #333333;
}

#credits{
	text-align: center;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}